{% if (labels | length) > 0 %}
    <ul id="mLabelsList" class="nav nav-list">
        {% for label in labels %}
            <li>
                <a href="{{ url("items_later_list", {'label_id':label.id}) }}">
                    <span class="badge">
                        {% if label.count > 0 %}
                            {{ label.count }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                    {% if (label.name | length) > 22 %}
                        {{ label.name | slice(0, 22) }}...
                    {% else %}
                        {{ label.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}