{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12">
            <div class="block-body">
                <div>
                    <form id="editLater" method="post" action="{{ url('feed_edit', {'feed_id': userFeed.id}) }}" class="wizard" {{ form_enctype(form) }}>
                        <div class="input-prepend">
                            <span class="add"><i class="icon-edit"></i></span>
                            {{ form_widget(form.title, { 'attr' : {'placeholder':'Title', 'class':'input-long' }} ) }}
                        </div>

                            <span id="validate-basic-form-valid">
                                {{ form_row(form._token) }}
                                <input type="submit" class="btn  btn-primary" value="{% trans %}Submit{% endtrans %}">
                            </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}