{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12 inbox">
            <div class="block-body">

                {% if (userFeeds | length) > 0 %}
                    <table class="table">
                        <tbody>
                        {% for userFeed in userFeeds %}
                            <tr>
                                <td class="td-star" style="padding-left: 14px">
                                    <a href="{{ url('feed_edit', {'feed_id': userFeed.id}) }}" class="no-link icon-pencil" ></a>
                                </td>
                                <td class="td-star">
                                    <a href="{{ url('feed_delete', {'feed_id': userFeed.id}) }}" class="no-link icon-trash" ></a>
                                </td>
                                <td class="inbox-message">
                                    <a class="list-item" href="{{ url('feed_edit', {'feed_id': userFeed.id}) }}" >{{ userFeed.title }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}