<ul id="mSubscriptionList" class="nav nav-list">
    {% for userFeed in userFeeds %}
        <li>
            <a href="{{ url("items_list", {'user_feed_id':userFeed.id}) }}">
                {% if menuAll == false %}
                    <span class="badge">{{ userFeed.total }}</span>
                {% endif %}
                {% if (userFeed.title | length) > 17 %}
                    {{ userFeed.title | slice(0, 17) }}...
                {% else %}
                    {{ userFeed.title }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>