<ul id="mSubscriptionList" class="nav nav-list">
    {% for feed in feeds %}
        <li><a href="{{ url("items_list", {'feed_id':feed.id}) }}"><span class="badge">{{ feed.count }}</span>{{ feed.title }}</a></li>
    {% endfor %}
</ul>