app/SymfonyRequirements.php
app/config/config_dev.yml
app/config/parameters_dev.yml
web/app_dev.php
web/bundles/
web/css/
web/js/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
composer.lock
.idea/
.idea/*
.travis.yml
.tags*
