### Symfony2 ###
# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/bin/
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
web/css/
web/js/

# PHPUnit
/app/phpunit.xml

# Composer PHAR
/composer.phar

# PhpStorm
.idea/
.idea/*

# Travis
.travis.yml

# Other files
app/SymfonyRequirements.php
components/