<div id="cookie-empty" style="display: none;">&nbsp;</div>
<div class="ui-widget">
    <div class="cookie-message ui-widget-header blue">
        <p>{{ '_Cookie_message'|trans }}</p>
    </div>
</div>