{% extends 'NPSFrontendBundle:Welcome:base_welcome.html.twig' %}

{% block body %}
    {% include "NPSFrontendBundle:Welcome:cookieMessage.html.twig" %}
    {% block content %}
        <!-- Header Wrapper -->
        <div class="wrapper style1">
            {% include "NPSFrontendBundle:Welcome:header.html.twig" %}

            <!-- Banner -->
            <div id="banner">
                <section class="container">
                    <h2>{{ '_Title'|trans }}</h2>
                    <span> </span>
                    <p>{{ '_Short_explanation'|trans }}</p>
                </section>
            </div>
        </div>

        {% include "NPSFrontendBundle:Welcome:section_one.html.twig" %}
        {% include "NPSFrontendBundle:Welcome:section_two.html.twig" %}
        {% include "NPSFrontendBundle:Welcome:section_three.html.twig" %}

        {% include "NPSFrontendBundle:Welcome:footer.html.twig" %}
    {% endblock %}
{% endblock body %}

{% block foot_script %}
    {%- javascripts output='js/*.js'
    '@NPSFrontendBundle/Resources/public/js/analytics.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock foot_script %}