{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12">
            <div class="block-body">
                    <div>
                        <form id="editUserPreferences" method="post" action="{{ path('user_preferences') }}" class="wizard" {{ form_enctype(form) }}>

                            <span id="validate-basic-form-valid">
                                {{ form_row(form._token) }}
                                <input type="submit" class="btn  btn-primary" value="{% trans %}Submit{% endtrans %}">
                            </span>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}