<footer>
    <div class="clearfix">
        <p class="pull-left"><a class="notify-disabled" href="#"><i class="icon-chevron-up"></i></a></p>
        <p class="pull-right">Newpsel &copy; 2013</p>
    </div>
</footer>

{#Modals#}
{% include "NPSFrontendBundle:Default:modal_feed.html.twig" %}