<div class="header">
    <div ng-init="title='Home'"></div>
    <h1 class="page-title">
        {% if title is defined %}
            {{ title }}
        {% else %}
            {% trans %}Home{% endtrans %}
        {% endif %}
    </h1>
</div>