{% extends 'NPSFrontendBundle::Default/layout.html.twig' %}

{% block content %}
    <div>
        {{ item.content|raw }}
    </div>
    <br /><br />
    <div><a href="{{ url('items', {'id': item.feedId}) }}">Feed</a></div>
{% endblock %}