<!-- start footer -->
<div id="footer">
    <!--  start footer-left -->
    <div id="footer-left">
        NPS &copy; Copyright Ltd. <span id="spanYear"></span> <a href="http://www.nps.com" target="_blank">www.nps.com</a>. All rights reserved.</div>
    <!--  end footer-left -->
    <div class="clear">&nbsp;</div>
</div>
<!-- end footer -->