<div id="page-top-outer">
    <!-- Start: page-top -->
    <div id="page-top">
        <!-- start logo -->
        <a href="{{ url("web_homepage") }}" id="logo">
            <img src="{{ asset('bundles/npsfrontend/images/logo.png') }}" alt="BaseEcommerce" height="80" />
        </a>
        <!-- end logo -->
        <!--  start top-search -->
        <div id="top-search">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <input id="symfony-search-field" name="q" type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }"
                               onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" />
                    </td>
                    <td>
                        <select  class="styledselect">
                            <option value=""> All</option>
                            <option value=""> Products</option>
                            <option value=""> Categories</option>
                            <option value="">Clients</option>
                            <option value="">News</option>
                        </select>
                    </td>
                    <td>
                        <input type="image" src="{{ asset('bundles/npsfrontend/images/shared/top_search_btn.gif') }}" />
                    </td>
                </tr>
            </table>
        </div>
        <!--  end top-search -->
        <div class="clear"></div>
    </div>
    <!-- End: page-top -->
</div>
<!-- End: page-top-outer -->
<div class="clear">&nbsp;</div>