{% extends 'NPSFrontendBundle::Default/layout.html.twig' %}
{% block title %}Signup title!{% endblock title %}

{% block content %}
<div id="content">
    <div class="container_16">
        <div class="grid_16">
            <div class="pad10">
                <h1>Signup success</h1>
            </div>
        </div>
        <div class="grid_16">
            <div class="pad10">
                <p class="lineH1 colorGrey4 bold padB30">Estimado {{ Name }},</p>
                <p class="padB25">
                    <span class="font12 block"></span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}