{% extends 'NPSFrontendBundle::Default/layout.html.twig' %}

{% block content %}
    <!--  start product-table ..................................................................................... -->
    <form id="mainform" action="">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <tr>
                <th class="table-header-repeat line-left minwidth-1"><a href="">{% trans %}Title{% endtrans %}</a></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="">{% trans %}Date{% endtrans %}</a></th>
            </tr>

            {% for entry in entries %}
                <tr>
                    <td>{{ entry.title|raw }}</td>
                    <td>{{ entry.humanDateAdd }}</td>
                </tr>
            {% endfor %}
        </table>
        <!-- end product-table................................... -->
    </form>
{% endblock %}